<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="firstApp" ng-controller="FirstCtrl">


 <input type="text" ng-model="enteredValue" />
  <button ng-click="doIt()">Submit</button>
  <button ng-click="reset()">Clear</button>
  <pre>
  {{info | json}}
</pre>

<script>
var firstApp = angular.module("firstApp", []);
firstApp.controller('FirstCtrl', function($scope, $http) {
  $scope.enteredValue = "060113010";
  $scope.targetUrl = 'url';
  $scope.reset = function() {
    $scope.enteredValue = '';
  };
  $scope.doIt = function() {
    $scope.targetUrl = 'https://acadview.com:9000/api/university/website?url=jagannathuni&uniqueCode=' + $scope.enteredValue;
    $http.get( $scope.targetUrl )
      .success(function(data) {
        console.log(data);
        $scope.info = data;
      });
  };
});

</script>

</body>
</html>